section{
    border-bottom: 1px solid;
}
section:last-child{
    border-bottom: none;
}


/* début exo 01 les_hover_01 */



#les_hover_01 ul>li:nth-child(1):hover{
    width: 150px;
    height: 150px;
}

#les_hover_01 ul>li:nth-child(2):hover{
background-color: lightblue;
}
#les_hover_01 .bg-color:hover{
    background-color: purple;
}

/* fin exo 01 les_hover_01 */



/* début exo 02 les_hover_02 */

#les_hover_02 ul>li:nth-child(1):hover{
    background-color: lightblue;
}

#les_hover_02 ul>li:nth-child(2):hover{
    width: 150px;
    height: 150px;

}
#les_hover_02 .height_and_width:hover{
    height: 200px; width: 500px;
}


/* fin exo 02 les_hover_02 */



/* début exo 03 les_focus_03 */

#le_focus_03 input:focus{
    border: solid 5px blue ;
border-radius: 10px; 
}

/* fin exo 03 les_focus_03 */



/* début exo 04 les transitions */

#les_transition_04 .transition_04{
    background-color: yellow;
    width: 150px;height: 150px;
    transition: 4s;

}
#les_transition_04 .transition_04:hover{
    background-color: red;
}

/* fin exo 04 les transitions */



/* début exo 05 les transitions */
#les_transition_05 .transition_05{
    background-color: red;
    width: 150px;height: 150px;
    transition: 2s;
}
#les_transition_05 .transition_05:hover{
    background-color: purple;
    border-radius: 50%;

}

/* fin exo 05 les transitions */



/* début exo 06 les transitions */

#les_transition_06 .transition_06{
    background-color: grey;
    width: 150px; height: 150px;
    transition: 3s;
}

#les_transition_06 .transition_06:active{
    margin: 300px;
}

/* fin exo 06 les transitions */



/* début exo 07 les transitions */

#les_transition_07 .transition_07{
    background-color: green;
    width: 150px;height: 150px;
    transition: 3s;
    transition-timing-function: ease-in-out;
}

#les_transition_07 .transition_07:active{
    margin: 80%;
}

/* fin exo 07 les transitions */



/* début exo 08 les transitions */

#les_transition_08 .transition_08{
    background-color: lightblue;
    width: 150px;height: 150px;
    transition: 3s;
    transition-timing-function: ease-in-out;
}

#les_transition_08 .transition_08:active{
    margin-left: 80%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: purple;
}

/* fin exo 08 les transitions */



/* début exo 09 les transitions */

#les_transition_09 .transition_09{
    background-color: blue;
    width: 150px;height: 150px;
    transition: 3s;
    transition-timing-function: ease-in-out;
}
.transition_09_enfant{ 
    width: 20%;height: 20%;background-color: lightblue;
    
}
#les_transition_09 .transition_09:active .transition_09_enfant{
    background-color: red;
}

/* fin exo 09 les transitions */



/* début exo 10 les transitions */

#les_transition_10 .transition_10{
    width: 150px;
    height: 150px;
    background-color: red;
    transition: 3s;
}
#les_transition_10 .transition_10_intrus{
    width: 20%;height: 20%;
    background-color: blue;
    border-radius: 50%;
    transition: 3s;
}

#les_transition_10 .transition_10:active .transition_10_intrus{
    background-color: rgb(71, 41, 123);
    border-radius: 0;
    margin-left: 100%;
} 
#les_transition_10 .transition_10:active{
    border-radius: 50%;
    margin-left: 80%;
} 

/* fin exo 10 les transitions */

