section{
    border-bottom: 1px solid;
}
section:last-child{
    border-bottom: none;
}


/* début exo 01 les_hover_01 */



#les_hover_01 ul>li:nth-child(1):hover{
    width: 150px;
    height: 150px;
}

#les_hover_01 ul>li:nth-child(2):hover{
background-color: lightblue;
}
#les_hover_01 ul>li:nth-child(3):hover + .bg-color{
    background-color: purple;
}

/* fin exo 01 les_hover_01 */



/* début exo 02 les_hover_02 */

#les_hover_02 ul>li:nth-child(1):hover{
    background-color: lightblue;
}

#les_hover_02 ul>li:nth-child(2):active{
    width: 150px;
    height: 150px;

}

#les_hover_02 ul>li:nth-child(1):hover + .height_and_width{
    height: 200px; width: 500px;
}


/* fin exo 02 les_hover_02 */



/* début exo 03 les_focus_03 */

#le_focus_03 input:focus{
    border: solid 5px blue ;
border-radius: 10px;
}

/* fin exo 03 les_focus_03 */



/* début exo 04 les transitions */

/* fin exo 04 les transitions */



/* début exo 05 les transitions */

/* fin exo 05 les transitions */



/* début exo 06 les transitions */

/* fin exo 06 les transitions */



/* début exo 07 les transitions */

/* fin exo 07 les transitions */



/* début exo 08 les transitions */

/* fin exo 08 les transitions */



/* début exo 09 les transitions */

/* fin exo 09 les transitions */



/* début exo 10 les transitions */

/* fin exo 10 les transitions */

